body {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
/* navbar styles */
.navbar-collapse{
    align-items: center;
    justify-content: center;
}
.nav-item{
    padding-left: 30px;
    font-size: 20px;
}
.nav-brand{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.profile{
    background-image: url("homeimg.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size:cover;
}

a{
    text-decoration: none;
}
p{
    font-size: 30px;
    color: darkgray;
}
h2{
    border: 3px solid white;
    width: 20%;
border-radius: 40px;
}

.form-control{
    width: 100%;
}
.DocterForm {
    position: relative; /* Ensure the form is positioned relatively */
    border: 1px solid gray;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .DocterForm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/formbg.avif');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Set the desired opacity */
    z-index: -1; /* Place the pseudo-element behind the form content */
    border-radius: 8px; /* Match the form's border-radius */
  }
  




.formimg{
    width: 1000px;
    height: 100%;

}